.craete__top
{
    background-image: url(../../imgs/createTop.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 134px 85px;
}
.create__title
{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}
.create__text
{
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;
    padding: 0;
}

@media screen and (max-width:800px) {
    .craete__top
    {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        z-index: 0;
        &::before
        {
            content: "";
            width: 100%;
            height: 100%;
            backdrop-filter: blur(3px);
            background-color: rgba(0, 0, 0, 0.389);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        padding: 130px 55px;
        text-align: center;
    }
    .create__title
    {
        font-size: 48px;
        line-height: 48px;
        position: relative;
        z-index: 2;
    }
    .create__text
    {
        font-size: 15px;
        line-height: 25px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }
}

@media screen and (max-width:500px) {
    .craete__top
    {
        padding: 101px 20px;
        text-align: center;
    }
    .create__title
    {
        font-size: 40px;
        line-height: 40px;
    }
    .create__text
    {
        margin: 0 auto;
        margin-bottom: 35px;
    }
}