main {
    margin: auto;
}

.hero__top {
    width: 100%;
    background-image: url(/imgs/hero__backImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    border-radius: 15px;
    margin-bottom: 136px;

    .hero__backDrop {
        border-radius: 10px;

        .hero__inner-container {
            padding: 117px 85px;

            .hero__title {
                width: 490px;
                font-family: 'Fraunces';
                font-weight: 900;
                font-size: 72px;
                line-height: 72px;
                color: #FEFCF7;
                margin-bottom: 32px;
            }

            .hero__text {
                width: 410px;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #FEFCF7;
                mix-blend-mode: normal;
                opacity: 0.8;
                margin-bottom: 56px;
            }

            .hero__btn {
                font-family: 'Fraunces';
                font-weight: 900;
                font-size: 18px;
                line-height: 25px;
                color: #FEFCF7;
                padding: 15px 31px;
                background: #66D2CF;
                border-radius: 6px;
                cursor: pointer;
                border: none;
            }
        }
    }
}

@media screen and (max-width:770px) {
    .hero__top {
        .hero__backDrop {
            background-color: rgba(0, 0, 0, 0);
            backdrop-filter: blur(3px);
        }

        background-image: url(/imgs/media-heroTop__backImage.jpg);
        background-position: right;

        .hero__inner-container {
            padding: 104px 58px;
        }
    }
}

@media screen and (max-width:600px) {
    .hero__container {
        padding: 24px 24px;
        text-align: center;

        .hero__top {
            .hero__backDrop {
                background-color: rgba(0, 0, 0, 0.519);
                backdrop-filter: blur(3px);
            }

            background-image: url(/imgs/media-heroTop__backImage.jpg);
            background-position: right;

            .hero__inner-container {
                padding: 100px 24px;

                .hero__title {
                    max-width: 100%;
                    font-size: 36px;
                    line-height: 36px;
                    text-align: center;
                }

                .hero__text {
                    max-width: 100%;
                    font-size: 14px;
                    line-height: 25px;
                    margin-bottom: 39px;
                }

                .hero__btn {
                    width: 217px;
                    height: 56px;
                    background-color: #0E8784;
                }
            }
        }
    }
}

// H - E - R -  O  _-_-_-  C  O  N  T  E  N  T

.hero__content
{
    max-width: 100%;
    padding-top: 126px;
    .content__item
    {
        position: relative;
        top: -50px;
        text-align: center;
    }
    
    .content__inner-card
    {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        position: relative;
        .content__card-backImage
        {
            width: 1111px;            
            height: 196px;
            position: absolute;
            z-index: -1;
            top: -130px;
            left: 20px;
            opacity: .4;
            img{
                width: 100%;
                height: auto;
            }
        }
        .content__card
        {
            max-width: 255px;
            text-align: center;
            box-shadow: 0 10px 15px #0000005e;
            border-radius: 8px;
            transition: .3s;
            cursor: pointer;
            backdrop-filter: blur(3px);
            &:hover
            {
                box-shadow: 0 0px 20px #000000a6;
                border-radius: 20px;
            }
            &:active
            {
                box-shadow: 0 0px 10px #000000e8;
                border-radius: 15px;
            }
            .content__card-image
            {
                width: 255px;
                height: 193px;
                background-image: url(/imgs/hero__Center-box2.svg);
                margin-bottom: 71px;
            }
            .content__card-title
            {
                font-family: 'Fraunces';
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                color: #333D4B;
                margin-bottom: 24px;
            }
            .content__card-text
            {
                max-width: 250px;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #333D4B;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .content__inner-container
    {
        padding: 0px 25px;
        .content__inner-card
        {
            .content__card-backImage
            {
                position: relative;
                height: 0px;
                opacity: 1;
            }
        }
        .content__card
        {
            margin: auto;
        }
    }
}
@media screen and (max-width:400px) {
    .content__inner-container
    {
        padding: 0px 25px;
        .content__inner-card
        {
            gap: 50px;
            .content__card-backImage
            {
                position: relative;
                width: 375px;
                height: 0px;
            }
        }
        .content__card
        {
            margin: auto;
        }
    }
}
