.region__container
{
    margin-bottom: 168px;
}
.region__information
{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 72px;
}
.region__block
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.region__img
{
    width: 50px;
    height: 50px;
    background-image: url(../../imgs/regionImg1.svg);
    background-repeat: no-repeat;
    margin-bottom: 45px;
}
.region__img2
{
    background-image: url(../../imgs/regionImg2.svg);
}
.region__img3
{
    background-image: url(../../imgs/regionImg3.svg);
}

.region__title
{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 24px;
}

.region__text
{
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

@media screen and (max-width:500px) {
    .region__block
    {
        flex-direction: column;
        gap: 80px;
    }

    .region__information
    {
        text-align: center;
    }

    .region__card
    {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        cursor: pointer;
        transition: 1s;

        &:hover
        {
            animation-name: card;
            animation-duration: 3s;
            animation-iteration-count: 1;
            animation-timing-function: ease-out;
        }
    }

    @keyframes card {
        0%
        {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.642);
            transform: scale(1.5);
        }
        25%
        {
            box-shadow: 0 0 30px #000;
            border-radius: 15px;
            position: relative;
            left: -75px;
        }
        50%
        {
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.555);
            border-radius: 30px;
            transform: rotateY(90deg) rotateZ(90deg);
            position: relative;
            left: -50px;
            display: none;
        }
        75%
        {
            box-shadow: 0 0 30px #000;
            border-radius: 15px;
            position: relative;
            left: -25px;
        }
        100%
        {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.441);
            transform: scale(1.2);
            transform: rotateY(360deg) rotateZ(360deg);
            
        }
    }

    .region__img
    {
        margin: 0 auto;
        margin-bottom: 47px;
    }

    .region__title
    {
        margin-bottom: 22px;
    }
}